<h3>Hello Hudl</h3>
<% if user_signed_in? %>
  <%= form_tag(root_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search for videos on YouTube", class: "radius search-input", name: 'search' %>
    <%= submit_tag "Search", class: "button tiny radius search-button", :title => nil %>
  <% end %>
<% end %>

<% if user_signed_in? %>

<div class="row">
  <div class="shape panel large-12 columns">
    <embed width="955" height="500" src="<%= @video_url %>">
  </div>
</div>

<% @data.each do |swing| %>
  <a href="#" class="button round" data-dropdown="<%= swing.keys[0] %>"><%= swing.keys[0] %></a>
  <ul id="<%= swing.keys[0] %>" class="f-dropdown chat" data-dropdown-content>
     <width="560" height="315" src="//www.youtube.com/embed/F1msTzfVxoU" frameborder="0" allowfullscreen>
     <% swing.values[0].each do |point| %>
      <li><%= point %></li>
      <% end %>
  </ul>
<% end %>

<% end %>
